*.iml
.gradle
/local.properties
/.idea/**
.DS_Store
**/build/**
/captures
.externalNativeBuild
.cxx
/__pycache__/
__pycache__/
.idea/
venv/
venv3.7/
.vscode/**
.mypy_cache/**
.pytest_cache/**
settings.sh
logs/
